<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>NYTick</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/c3.min.css') }}" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
</head>

<body>
<div id="chart"></div>
<script>
    var stock = {{ stock|safe }};
    stock = parse_stock(stock);
    draw_chart(stock);
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
<p>
{{ article }}
</p>
</body>

</html>
