<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>NYTick</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/c3.min.css') }}" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/c3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
</head>

<body>
<div id="chart"></div>
{{ stocks }}
<script>
var chart = c3.generate({
    data: {
        columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 50, 20, 10, 40, 15, 25]
        ]
    }
});
</script>
</body>

</html>
